gymnasium[box2d]>=0.27.1
moviepy
lightning>=1.9.0
torchmetrics
tensorboard
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
