torchmetrics  # necessary because old PL verions don't have it as dependency
scikit-learn
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
